crime rate.json
[{"id":"861d0335.3eb83","type":"http request","z":"69df6226.4de10c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/0e2a2453-3781-447c-98b1-78cb0847b814/deployments/5022e4bf-b00d-419e-8b44-7afb01ee55c8/online","tls":"","proxy":"","x":750,"y":420,"wires":[["33131582.db12fa"]]},{"id":"df1511d8.706a7","type":"function","z":"69df6226.4de10c","name":"prediction","func":"var token=msg.payload.token;\nvar RDSpend=global.get(\"RDSpend\");\nvar Administration=global.get(\"Administration\");\nvar MarketingSpend=global.get(\"MarketingSpend\");\nvar State1=global.get(\"State1\");\nvar State2=global.get(\"State2\");\nmsg.payload={\"fields\":[\"RDSpend\",\"Administration\",\"MarketingSpend\",\"State\",\"State\"],\"values\":[[RDSpend,Administration,MarketingSpend,State1,State2]]};\n//msg.payload=State;\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":340,"wires":[["861d0335.3eb83","2f711eed.c2d042"]]},{"id":"2f711eed.c2d042","type":"debug","z":"69df6226.4de10c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":300,"wires":[]},{"id":"8b0848f7.4d77a8","type":"http request","z":"69df6226.4de10c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","x":490,"y":200,"wires":[["261f6bcf.b344a4","df1511d8.706a7"]]},{"id":"74d349.1b39bcb8","type":"inject","z":"69df6226.4de10c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":220,"wires":[["f260acf2.46853"]]},{"id":"f260acf2.46853","type":"function","z":"69df6226.4de10c","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"9e6b4a65-e4d8-4a56-9466-bbf37d732e29\"\nvar password=\"34d2e9a9-868b-491c-bf8b-9309718b4cd6\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"RDSpend\",msg.payload.RDSpend)\nglobal.set(\"Administration\",msg.payload.Administration)\nglobal.set(\"MarketingSpend\",msg.payload.MarketingSpend)\nglobal.set(\"State1\",msg.payload.State[0])\nglobal.set(\"State2\",msg.payload.State[1])\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":180,"wires":[["8b0848f7.4d77a8"]]},{"id":"33131582.db12fa","type":"function","z":"69df6226.4de10c","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":440,"wires":[["98cb10be.7afa7"]]},{"id":"261f6bcf.b344a4","type":"debug","z":"69df6226.4de10c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":180,"wires":[]},{"id":"e071d9c3.db8388","type":"ui_text","z":"69df6226.4de10c","group":"170c4ee0.566b61","order":2,"width":0,"height":0,"name":"","label":"R&D","format":"{{msg.payload.RDSpend}}","layout":"row-spread","x":370,"y":520,"wires":[]},{"id":"98cb10be.7afa7","type":"ui_text","z":"69df6226.4de10c","group":"170c4ee0.566b61","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":320,"wires":[]},{"id":"27b34866.56c5f8","type":"ui_form","z":"69df6226.4de10c","name":"","label":"","group":"170c4ee0.566b61","order":0,"width":0,"height":0,"options":[{"label":"Enter R&D Spend","value":"RDSpend","type":"number","required":true},{"label":"Investment for Administration","value":"Administration","type":"number","required":true},{"label":"Marketing Spend","value":"MarketingSpend","type":"number","required":true},{"label":"Enter State","value":"input","type":"text","required":true}],"formValue":{"RDSpend":"","Administration":"","MarketingSpend":"","input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":560,"wires":[["e071d9c3.db8388","c0ff4d8.5ff98b","5a81877b.08f378","383c124b.9e2aae","f260acf2.46853"]]},{"id":"c0ff4d8.5ff98b","type":"ui_text","z":"69df6226.4de10c","group":"170c4ee0.566b61","order":2,"width":0,"height":0,"name":"","label":"Admin","format":"{{msg.payload.Administration}}","layout":"row-spread","x":410,"y":560,"wires":[]},{"id":"5a81877b.08f378","type":"ui_text","z":"69df6226.4de10c","group":"170c4ee0.566b61","order":2,"width":0,"height":0,"name":"","label":"Marketing","format":"{{msg.payload.MarketingSpend}}","layout":"row-spread","x":340,"y":660,"wires":[]},{"id":"f628f285.28e4d","type":"ui_text","z":"69df6226.4de10c","group":"170c4ee0.566b61","order":2,"width":0,"height":0,"name":"","label":"State","format":"{{msg.payload.State}}","layout":"row-spread","x":330,"y":720,"wires":[]},{"id":"383c124b.9e2aae","type":"function","z":"69df6226.4de10c","name":"State conversion","func":"var input=msg.payload.input\nvar State\n\nif (input==\"New York\")\n{\n    State=[0,1]\n}\nelse if(input==\"California\")\n{\n  State=[0,0]  \n}\nelse if (input==\"Florida\")\n{\n  State=[1,0]  \n}\n\nmsg.payload.State=State\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":460,"wires":[["f260acf2.46853","f628f285.28e4d"]]},{"id":"170c4ee0.566b61","type":"ui_group","z":"69df6226.4de10c","name":"Prediction","tab":"cb9a2888.eec7e8","disp":true,"width":"6","collapse":false},{"id":"cb9a2888.eec7e8","type":"ui_tab","z":"69df6226.4de10c","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]